<title> Profile </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="mt-5">
    <a href="{% url 'account:myaccount' %}" class="ml-2">< retour </a>
    <div class="container">
        <ul class="list-group mt-2">
            <li class="list-group"> Username : {{ user }}</li>
            <li class="list-group"> First name : {{ user.first_name }}</li>
            <li class="list-group"> Last name : {{ user.last_name }}</li>
            <li class="list-group"> Email : {{ user.email }}</li>
        </ul>
    </div>
</div>